{% extends 'base.html.twig' %}
{# form_theme courseForm 'tailwind_2_layout.html.twig' #}
{% block title %}
    Creer Cours | {{ parent() }}
{% endblock %}
{% block body %}
<h1>Créer Cours</h1>


    {{ form_start(courseForm) }}
    {{ form_widget(courseForm) }}
    <button class="btn btn-primary">Ajouter</button>
    {{ form_end(courseForm) }}
{% endblock %}



