{% extends 'base.html.twig' %}

{% block title %}
    Formateur du cours {{ course.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Formateur du cours {{ course.name }}</h1>
    <table>
        {% for trainer in trainers %}
            <tr>
                <td>{{ trainer.firstname ~' '~ trainer.lastname }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}



