{% extends 'base.html.twig'%}
{% block body%}
    <h1>Test</h1>
    {# ici le filtre raw permet d'interpéter la variable #}
    <p>{{ mySerie.title | raw}} - {{ mySerie.year }}</p>

    <p>{{ autreVar }}</p>

{% endblock %}

{% block title %}{{ parent() }} | Test {% endblock %}